/src/x64/
/src/mdbox
/src/frc.txt
/src/restrt
/src/mdout
/src/mdcrd
/src/SPONGE.sdf
/src/SPONGE.exe
/src/SPONGE.opensdf
/bin/*
!bin
!/bin/README.md
!/bin/README.html
!/bin/SPONGE.html
!/bin/GUI_helper
*.o
*.exe
*.obj
*.nc
*.dat
*submakefile
